@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f4f7;
  --foreground: #758292;
  --interactive-color: #1899e4;
  --interactive-text-color: #fffef9;
  --form-background-color: #ffffff;
  --border-color: #64738b;
}

button {
  color: var(--interactive-text-color);
  background-color: var(--interactive-color);
}

a:hover {
  color: var(--interactive-color)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #DDE6ED;
    --form-background-color: #181f2a;
    --border-color: #263141;
  }

  button {
    color: var(--foreground)
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
